body {
	width: 80%;
	margin: auto;
}

header, footer{
	background-color: purple;
	text-align: center;
}

h2 {
	clear: both;
	padding-top: 50px;
}

img {
	float: left;
	width: 10%;
}

p {
	float: right;
	width: 85%
}

form {
	clear: both;
	margin: auto;
	text-align: center;	
}

input[type=submit] {
	margin: 10px 0px 10px 0px;
}
