body {
	width: 80%;
	margin: auto;
}

header, footer{
	background-color: purple;
	text-align: center;
}

footer {
	font-weight: bold;
	font-size: 18px;
	padding: .5em 0 .5em 0;
}

h1 {
	padding: .5em 0 .5em 0;
	margin-top: 0;
}

h2 {
	clear: both;
}

img {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}

p {
	margin-right: 10px;
	text-align: justify;
}

form {
	clear: both;
	margin: auto;
	text-align: center;	
}

input[type=submit] {
	margin: 10px 0px 10px 0px;
}

form:only-child {
	text-align: left;
	border: solid black;
	width: 30%;
	font-weight: bold;
	margin: 20px auto 20px auto;
}

form p {
	margin-left: 5px;
}

label {
	margin-right: 10px;
}

input[type=radio], input[type=checkbox], input[type=text] {
	margin-left: 10px;
	margin-right: 10px;
}

input[type=button] {
	margin: 10px;
}
