body {
	width: 80%;
	margin: auto;
}

header, footer{
	background-color: purple;
	text-align: center;
}

footer {
	font-weight: bold;
	font-size: 18px;
	padding: .5em 0 .5em 0;
}

h1 {
	padding: .5em 0 .5em 0;
}

h2 {
	clear: both;
}

img {
	float: left;
	width: 10%;
	margin-bottom: 20px;
}

p {
	float: right;
	width: 85%
}

form {
	clear: both;
	margin: auto;
	text-align: center;	
}

input[type=submit] {
	margin: 10px 0px 10px 0px;
}
